.header-container {
    height: 100vh;
    width: 100%;
}

.text-container {
    float: right;
}

  .header-name {
    font-size: 4em;
    margin-top: 6em;
    margin-right: 1em;
    color: #0D250C;
}
  
  .header-title {
    font-size: 2em; 
    color: white;
}