.projects-container {
    position: relative;
    height: 310vh;
    width: 100%;
    background: linear-gradient(white, white, white, white, white, rgba(255, 255, 255, 0.627));

    h1 {
        color: $blue;
        font-size: 3.5em;
        text-align: center;
        padding-top: 1em;
        padding-bottom: .5em;
    }
}

.all-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box {
   margin: 5em auto; 
   height: 20em;
   background-color: $grey;
   width: 75%;
}
.rf-box {
}

.sp-box {
}

.cc-box {
}

.contact-box {
    background-color: transparent;
    margin: 0 auto;

    h2 {
        font-size: 3em;
    }
}